<!-- upload_image.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Imageto use OCR</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        /* Custom CSS */
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 50px 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Upload Image</h1>
        <form action="/process_image_cnn" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image_file">Upload Image to predict:</label>
                <input type="file" class="form-control-file" id="image_file" name="image_file">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
        {% if result %}
        <hr>
        <h2 class="mb-3">Recommended Products:</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price($)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in result %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</body>
</html>
